@font-face {
    font-family: "PixelOperator";
    src: url("resources/PixelOperator.ttf") format("truetype");
}

body{
  text-align: center;
  background-image: url("resources/background.jpg");
  background-size: 300px;
    }

.moving-bar{
    border: 1px solid lightblue;
    height: auto;
    float: left;
    width: 920px;
    margin-top: 10px;
    background: lightblue;
}

.center{
        border: 1px solid blue;
      height: 300px;
      float: left;
      width: 450px;
      margin-top: 10px;
      margin-left: 10px;
      overflow: auto;
            background-image: url("");
  }

.title{
 color: white;
  border: 1px solid lightblue;
  padding: 1px;
  margin-bottom: 3px;
  border-radius: 5px;

   font-size: 30px;
  font-family: 'Cheri', sans-serif;
  margin: auto;

  padding: 3px;
  -webkit-text-stroke: 2px lightblue;
    filter:   drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 1px white)drop-shadow(0 0 1px white) drop-shadow(1px 1px 0.1px blue);
  background-image: url("");
}

.status{
      border: 1px solid blue;
      height: 300px;
      float: left;
      width: 220px;
      margin-top: 10px;
            background-image: url("");
  }

#statuscafe {
    padding: .5em;
    background-color: none;
    border: 1px solid none;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

.inner{
  border: 1px dashed lightblue;
  margin: auto;
  margin-top: 10px;
  width: 400px;
 padding: 10px;
 background-color: white;
}

.banner{

      border: 2px double;
      width: 900px ;
      height: 350px;
      margin: auto;
      padding: 10px;
      background-image: url("resources/banner.jpg");
      background-size: cover;
}

.main{
     border: 4px double lightblue;
     width: 920px;
     height: 1080px;
     margin: auto;
     padding: 10px;
     background-color: white;
}

.side{
      border: 1px solid blue;
      height: 370px;
      float: right;
      width: 220px;
      margin-top: 10px;
        overflow-x: hidden;
  overflow-y: scroll;
      background-image: url("");
    }

.navigation-bar{
 color: white;
  border: 1px solid lightblue;
  padding: 1px;
  margin-bottom: 3px;
  border-radius: 5px;

   font-size: 30px;
  font-family: 'Cheri', sans-serif;
  margin: auto;

  padding: 3px;
  -webkit-text-stroke: 2px lightblue;
    filter:   drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 1px white)drop-shadow(0 0 1px white) drop-shadow(1px 1px 0.1px blue);
  background-image: url("");
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
border radius: 10px;
  width: 200px;
     background: ;
}

li a {
  border-radius: 5px;
  margin-bottom: 5px;
  display: block;
  color: white;
  background: lightblue;

 li a:hover {
 background: linear-gradient(#FFC3E3 , #FFCCE7 40%, FF8FCB);
  color: white;
}
  text-decoration: none;
  border: 1px solid ;
}

  .pet{
border: 1px double blue;

width:300px;
height:321px;
margin-top: 10px;
margin-left: 10px;
float: left;
 background-image: url("");}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.clock-separator {
    font-family: PixelOperator;
    font-size: 50px;
    font-weight: bold;
}
