body{
  text-align: center;
  background-image: url("resources/background.jpg");
  background-size: 300px;
    }

.banner{

      border: 2px double;
      width: 900px ;
      height: 350px;
      margin: auto;
      padding: 10px;
      background-image: url("resources/banner.jpg");
      background-size: cover;
}

.main{
     border: 4px double;
     width: 920px;
     height: 1080px;
     margin: auto;
     padding: 10px;
     background-color: white;
}

.welcome{
    border: 1px solid lightblue;
    height: auto;
    float: left;
    width: 920px;
    #margin-top: 10px;
    background: lightblue;
}


